cache/
certbot/
config/
libraries/
logs/
plugins/
versions/
world/
world_nether/
world_the_end/
.env
banned-ips.json
banned-players.json
bukkit.yml
comands.yml
eula.txt
help.yml
ops.json
ops.txt.converted
permissions.yml
server.properties
spigot.yml
usercache.json
version_history.json
whitelist.json
