*
!.gitkeep
!.dockerignore
!.env.example
!.gitignore
!docker-compose.yml
!LICENSE
!Makefile
!README.md

!scripts/
!cron.sh
!stop.sh
!update.sh
!upload.sh

!docker/
!Dockerfile
!entrypoint.sh
!cmd.sh
!backup/
!batch/
!active.py
!certbot/
!minecraft/
!nginx/
!default.conf
!ssl_server.conf.txt
!route53/

!ubuntu/
!setup.sh

!terraform/
!terraform/**/
!terraform/*.tf
!terraform/**/*.tf
!terraform/.terraform.lock.hcl
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

!jar/
!jar/**.jar
!backups/
!jar/backups/**.jar

!lambda/
!start.py
!stop.py

!uploads/
