*
!.gitignore
!README.md
!Makefile
!docker-compose.yml
!.env.example
!upload.sh
!.gitkeep

!uploads/

!lambda/
!start.py

!.aws/
!ec2.sh

!.bin/
!backup.sh
!start.sh
!stop.sh
!update.sh

!.docker/
!Dockerfile
!entrypoint.sh

!.github/
!workflows/
!deploy.yml

!.terraform/
!main.tf
!ec2.tf
!s3.tf
!vpc.tf
!iam.tf
!lambda-start.tf
!lambda-stop.tf
!variables.example.tf
