*
!.gitignore
!README.md
!Makefile

!.bin/
!boot.sh

!jar/
!floodgate.sh
!geyser.sh
!paper.sh
!via-version.sh

!edit/
!eula.sh
!geyser-spigot.sh
!server-properties.sh

!mv/
!jar.sh

!stop/
!server.sh
